.reviewContainer {
    max-width: 1000px;
}

.reviewList {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.comments {
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}