.moviesList {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.moviesListItem {
    display: flex;
    gap: 10px;
    /* border: 1px solid rgb(166, 163, 163);
    border-radius: 5px;
    padding: 5px;
    transition: transform 250ms linear, box-shadow 250ms linear;
    cursor: pointer; */
}

/* .moviesListItem:hover {
    transform: scale(101%);
    box-shadow: 0px 3px 39px -14px rgba(0, 0, 0, 0.75);
} */

.itemDescription {
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 12px;
}